body {
  background: white;
  font-family: "Nunito", sans-serif;
}

#mainNavbar {
  font-size: 1rem;
}

#mainNavbar .navbar-brand {
  font-size: 1.5rem;
}

/* #mainNavbar .navbar {
  margin-bottom: 0px;
} */

#fz {
  font-size: 1.2rem;
  font-weight: 300;
}

.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1531256379416-9f000e90aacc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80");
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  display: flex;
}

#gambar1 {
  margin-bottom: 32px;
}

#mentor {
  margin-bottom: 32px;
  align-items: center;
  text-align: center;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

.footer {
  background: #212121;
}
